---
TabWidth: 4
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  PadOperators: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  PadOperators: true
AlignOperands: AlignAfterOperator
AlignEscapedNewlines: Left
AlignTrailingComments:
  Kind: Leave
  OverEmptyLines: 1
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: MultiLine
BinPackArguments: true
BinPackParameters: true
BitFieldColonSpacing: Both
BraceWrapping:
  BeforeElse: true
  AfterFunction: true
  AfterNamespace: true
  AfterExternBlock: true
  AfterClass: false
  AfterEnum: true
  AfterCaseLabel: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  SplitEmptyFunction: false
  IndentBraces: false
  BeforeWhile: true
  BeforeLambdaBody: false
  AfterControlStatement: MultiLine
Cpp11BracedListStyle: true
CompactNamespaces: false
IndentAccessModifiers: false
IndentCaseBlocks: true
IndentCaseLabels: true
IndentExternBlock: Indent
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
IndentRequiresClause: true
IndentWidth: 4
IndentWrappedFunctionNames: true
InsertBraces: false
InsertNewlineAtEOF: true
Language: Cpp
SpaceAfterTemplateKeyword: false
Standard: Auto
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IncludeBlocks: Regroup
FixNamespaceComments: true
BreakBeforeConceptDeclarations: Allowed
BreakBeforeInlineASMColon: OnlyMultiline
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: true
ColumnLimit: 0
ReflowComments: true
SortIncludes: CaseSensitive
SortUsingDeclarations: Lexicographic
SpaceAroundPointerQualifiers: Default
SpaceBeforeCpp11BracedList: false
SpaceBeforeCaseColon: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterOverloadedOperator: false
  AfterRequiresInClause: true
  AfterRequiresInExpression: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
AccessModifierOffset: -2
BreakBeforeBraces: Custom
NamespaceIndentation: All
MaxEmptyLinesToKeep: 2
PPIndentWidth: 2
PointerAlignment: Right
SpaceAfterCStyleCast: true
BreakBeforeBinaryOperators: All
